@import url("https://fonts.google.com/specimen/Poppins");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: "urbanist";
  src: url(../FONTS/Urbanist/Urbanist-VariableFont_wght.ttf);
}

.preloaderCover {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
}

.PrelaoderText1Animations {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 50px;
  animation: PrelaoderText1Animations 0.5s ease-in-out both infinite;
}
.PrelaoderText2Animations {
  font-family: "Poppins", sans-serif;
  color: red;
  font-weight: bold;
  font-size: 50px;
  animation: PrelaoderText2Animations 0.5s ease-in-out both infinite;
}

.preloader {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  transition: 0.5s ease-in-out;
}
.preloader.hide {
  display: none;
  transition: 0.5s ease-in-out;
}

@keyframes PrelaoderText1Animations {
  0% {
    color: white;
  }
  100% {
    color: red;
  }
}

@keyframes PrelaoderText2Animations {
  0% {
    color: red;
  }
  100% {
    color: white;
  }
}

/* Header Css */
.headerCover {
  background-color: rgba(0, 0, 0, 0.527);
  backdrop-filter: blur(14px);
}

.indexTopImageCover {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  position: relative;
}
.IndexTopImage {
  width: 100%;
  /* height: 500px; */
  object-fit: cover;
  background-position: center;
  margin-top: 100px;
}
.TopImageTrainingBtn {
  background-color: red;
  color: white;
  position: absolute;
  top: 80%;
  left: 9%;
  font-size: large;
  border: 0px white solid;
  padding: 0.8%;
  border-radius: 10px;
  transition: 0.2s ease-in;
}
.TopImagePlayDemoBtn {
  background-color: transparent;
  color: white;
  position: absolute;
  top: 80%;
  left: 20%;
  font-size: large;
  border: 0px white solid;
  padding: 0.8%;
  border-radius: 10px;
  transition: 0.2s ease-in;
}

.TopImageTrainingBtn:hover {
  background-color: white;
  color: red;
  transition: 0.2s ease-in;
}

.TopImagePlayDemoBtn:hover {
  color: red;
  transition: 0.2s ease-in;
}
.ExploreTextWhite {
  color: white;
  font-size: 50px;
  font-family: "urbanist";
  font-weight: bold;
}
.ProgrammeExploreBtn {
  color: white;
  background-color: transparent;
  border-radius: 100%;
  font-size: 50px;
  transition: 0.3s ease-in-out;
}

.ProgrammeExploreBtn:hover {
  color: white;
  background-color: red;
  border-radius: 100%;
  font-size: 50px;
  transition: 0.3s ease-in-out;
}
.indexListTickIcon {
  color: black;
  background-color: red;
  font-weight: bold;
  border-radius: 100px;
  font-size: 20px;
}
.PriceListTickIcon {
  color: black;
  background-color: white;
  border-radius: 100px;
  font-size: 16px;
}
.PricingListBtn {
  background-color: red;
}
.minPricingListBtn {
  background-color: black;
}
.bestBanner {
  background-color: white;
  color: black;
  transform: rotate(45deg);
  position: absolute;
  top: 5%;
  left: 40%;
}
.IndexSubscribeText {
  font-size: 40px;
  color: white;
  font-weight: bold;
  font-family: "urbanist";
}

.SubscribeInput {
  font-size: large;
  color: black;
  border: 0px white solid;
  outline: none;
  margin-top: 10%;
  margin-left: 10px;
  margin-bottom: 10%;
}

.IndexJoinNowBtn {
  background-color: red;
  color: white;
  font-size: large;
  border: 0px white solid;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  border-radius: 10px;
  transition: 0.2s ease-in;
}
.IndexJoinNowBtn:hover {
  background-color: white;
  color: red;
  transition: 0.2s ease-in;
}

.IndexContactUsBtn {
  background-color: transparent;
  color: white;
  font-size: large;
  border: 0px white solid;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  border-radius: 10px;
  transition: 0.2s ease-in;
}
.IndexContactUsBtn:hover {
  color: white;
  transition: 0.2s ease-in;
  background-color: red;
}

.IndexJoinNowBtn2 {
  background-color: red;
  color: white;
  height: 40px;
  font-size: large;
  border: 0px white solid;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 10px;
  transition: 0.2s ease-in;
}

.PricingSwitchWhite {
  background-color: white;
  border-radius: 50px;
}

.JoinNowImageCover {
  background-color: red;
  position: relative;
}

.JoinNowFirstImageCover {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
}

.JoinNowSecondImageCover {
  position: absolute;
  top: 100px;
  left: 220px;
  z-index: 2;
}

.JoinNowThirdImageCover {
  position: absolute;
  top: 265px;
  left: 140px;
  z-index: 2;
}

.FlexImage {
  width: 100px;
  height: 100px;
  transition: 0.2s ease-in-out;
}

.FlexImage:hover {
  transform: scale(1.3);
  transition: 0.2s ease-in-out;
}

.LogoCover {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogoCover:hover .FitnesFirstTextLogo1white {
  color: red;
  cursor: pointer;
}
.LogoCover:hover .FitnesFirstTextLogored {
  color: white;
  cursor: pointer;
}

/* .FitnesFirstTextLogo1white {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.5s ease-in-out;
}
.FitnesFirstTextLogored {
  font-family: "Poppins", sans-serif;
  color: red;
  font-weight: bold;
  font-size: 25px;
  transition: 0.5s ease-in-out;
} */

.SectionCover {
  color: white;
  font-weight: bold;
  align-self: center;
}

/* Body  */
.VirtualBMIROw {
  /* position: relative; */
  background-color: red;
}

.TourSection {
  background-color: gray;
  clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
  padding-bottom: 25px;
  padding-top: 25px;
  /* position: absolute;
  left: 0; */
}

.BMISection {
  background-color: red;
  color: white;
  font-weight: bold;
  padding-bottom: 25px;
  padding-top: 25px;
  clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%);
}
.TourText {
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.2s ease-in-out;
}

.TourText:hover {
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 0px 0px 10px white, 0px 0px 20px white;
  cursor: pointer;
}

.AboutImageCover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.aboutImage {
  box-shadow: 0px 0px 0px black;
  width: 350px;
  height: auto;
  transition: 2s ease-in-out;
}
.aboutImage.active {
  box-shadow: -12px 12px 0px red;
  width: 350px;
  height: auto;
}

.aboutTopicRed {
  color: red;
  /* font-weight: bold; */
}

.aboutTopicwhite {
  color: white;
  /* font-weight: bold; */
}
.aboutPara {
  color: white;
}

.WhyPart {
  position: relative;
  /* margin: 5px; */
}

.whyImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}
.whyImage:hover {
  /* width: 120%;
  height: 300px; */
  scale: 1.1;
}

.whyText {
  color: white;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  bottom: 15px;
  left: 60px;
  /* left: 25%; */

  display: flex;
  justify-content: center;

  /* z-index: 2; */
  /* text-decoration: wavy; */
}

.QuoteBtn {
  color: white;
  background-color: red;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 16px;
  font-size: xx-large;
}

/* FOOTER */
.footerCover {
  background-color: black;
}
.footerTOpic {
  color: white;
  font-weight: bold;
}

.SocialIcons {
  color: red;
  font-size: large;
  padding: 5px;
  border: 2px solid white;
  background-color: white;
  border-radius: 20px;
}

/* ................................... */
.slider {
  /* width: 800px; */
  width: 100%;
  /* height: 500px; */
  /* height: 100vh; */
  border-radius: 10px;
  background-color: blue;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 700px;
  object-fit: fill;
}

/* css for manual slide navigation */
.navigation-manual {
  position: absolute;
  width: 450px;
  margin-top: 460px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transform: 1s;
}

.CarouselButton {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transform: 1s;
}

/* .manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
@font  margin-left: -60%;
} */

/* css for Automatic navigation */

@font-face {
  font-family: Alinas;
  src: url("FONTS/Montserrat-Italic-VariableFont_wght.ttf");
  src: url("../FONTS/Montserrat-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: Alinasi;
  src: url("FONTS/Montserrat-VariableFont_wght.ttf");
  src: url("../FONTS/Montserrat-VariableFont_wght.ttf");
}

.CarouselTextCover {
  position: absolute;
  left: 10%;
  top: 20%;
}
.CarouselTextCoversmall {
  position: absolute;
  left: 10%;
  top: 40%;
}

.partnerText {
  color: red;
  font-style: italic;
  font-size: 60px;
  font-weight: bolder;
  font-family: "Alinas";
  text-shadow: 0px 10px 10px black;
}

.partnerTextsmall {
  color: red;
  font-style: italic;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Alinasi";
  text-shadow: 0px 10px 10px black;
}

.FITNESStext {
  color: white;
  font-size: 100px;
  font-weight: bolder;
  font-family: "Alinas";
}
.FITNESStextsmall {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  font-family: "Alinasi";
}

.redBoxBtn {
  background-color: red;
  color: white;
  font-size: xx-large;
  padding: 10px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;
}

/* /////////////////////////////// */
.offsetStorieCarouselCover {
  background-color: blue;
  width: 50px;
  height: 50px;
}

.StoriesCarosuelSlider {
  width: 50px;
  position: relative;
  background-color: red;
  padding: 10px;
  border-radius: 20px;
  margin-top: 60px;
}

.StoriesCarosuelSlidersmall {
  width: 25px;
  position: relative;
  background-color: red;
  padding: 10px;
  border-radius: 20px;
  margin-top: 60px;
}

.StorieProfileImg {
  position: absolute;
  left: 40%;
  top: -55%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid white;
  border-radius: 50px;
}

.SStorieProfileImgsmall {
  position: absolute;
  left: 30%;
  top: -25%;
  width: 100px;
  height: auto;
  border: 2px solid white;
  border-radius: 50px;
}

.storiePara {
  margin-top: 50px;
  color: white;
}

/* ex================== */
.carouselStorieBackCOver {
  background-color: red;
  width: 100%;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.LeftSlideBtn {
  background-color: white;
  width: 10%;
  /* height: 500px; */
}

.rightSlideBtn {
  background-color: white;
  width: 10%;
  /* height: 500px; */
}

.Sslider {
  width: 80%;
  /* height: 500px; */
  background-color: blue;
  position: relative;
  display: grid;
  overflow: hidden;
}

.box11 {
  /* display: grid; */
  display: flex;
  background-color: black;
  overflow: hidden;
}

.BoxSlide {
  width: 100px;
  height: 100px;
  background-color: red;
}

/*  */
.firstBox {
  display: block;
  /* transition: 1s ease-in-out; */
  /* margin-left: -58%; */
}

.LRbtn {
  width: 50px;
  transition: 0.2s ease-in-out;
}
.LRbtn:hover {
  width: 50px;
  background-color: white;
  border-radius: 50px;
}

.LRbtnsmall {
  width: 25px;
  transition: 0.2s ease-in-out;
}
.LRbtnsmall:hover {
  width: 25px;
  background-color: white;
  border-radius: 50px;
}

/* SCROLING ANIMAITONS CSS */
.DownToUP {
  transform: translateY(50px);
  transition: 1s ease-in-out;
}
.DownToUP.active {
  transform: translateY(0px);
}

/* ------------- */
.UPToDown {
  transform: translateY(-100px);
  transition: 1s ease-in-out;
}
.UPToDown.active {
  transform: translateY(0px);
}

/* ------------- */
.LeftToRight {
  transform: translateX(-100px);
  transition: 1s ease-in-out;
}
.LeftToRight.active {
  transform: translateX(0px);
}

/* ------------- */
.RightToLeft {
  transform: translateX(100px);
  transition: 1s ease-in-out;
}
.RightToLeft.active {
  transform: translateX(0px);
}

/* ------------- */
.Fade {
  opacity: 0;
  /* backdrop-filter: blur(14px); */
  transition: 1s ease-in-out;
}
.Fade.active {
  opacity: 1;
  /* backdrop-filter: blur(0px); */
}

.Search-cover {
  width: 100%;
  height: 500px;
  background: url("../Resources/images/gym02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Blog-Search-text {
  color: white;
  font-size: 500%;
  font-family: "Alinasi";
  font-weight: bold;
}

.Blog-SearchIcon {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.Blog-SearchInput {
  border: 0px solid transparent;
  height: 80px;
}

.Blog-searchBtn {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 80px;
  border: 0px solid transparent;
}

.BlogCategoryImages {
  width: 100%;
  height: 200px;
  transition: 0.5s ease-in-out;
  object-fit: cover;
}

.BlogCategoryImages:hover {
  width: 100%;
  height: 200px;
  transition: 0.5s ease-in-out;
  transform: scale(1.2);
}

.BlogThmbnailTopic {
  font-size: xx-large;
  color: white;
}

/* classes css */
.Classes-cover {
  width: 100%;
  height: 300px;
  background: url("../Resources/images/gym02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.classesVideo {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.Classes-AreaTopic {
  color: white;
  font-size: 500%;
  font-family: fantasy;
}

.ClassAreaImages {
  width: 100%;
  height: 550px;
  transition: 0.5s ease-in-out;
  object-fit: cover;
}
.ClassAreaImages:hover {
  width: 100%;
  height: 550px;
  transition: 0.5s ease-in-out;
  transform: scale(1.2);
}
.classenames {
  color: white;
  font-weight: bold;
  font-size: 500%;
  font-family: serif;
}

.ViewClassesArrow {
  color: white;
  font: lighter;
  font-size: larger;
  transition: 0.5s ease-in-out;
}

.ViewClassesArrow:hover {
  color: white;
  font: lighter;
  font-size: larger;
  margin-left: 20px;
}

.classImageCover {
  overflow: hidden;
  position: relative;
}

.blackImageCover {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  clip-path: polygon(27% 0, 100% 0, 100% 100%, 0% 100%);
  transition: 2s ease-in-out;
}

.blackImageCover.active {
  margin-left: 100%;
}

.HeaderTabs {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
  cursor: pointer;
}

.HeaderTabs:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  cursor: pointer;
}

.HeaderTabs:hover:after {
  width: 100%;
  left: 0;
  cursor: pointer;
}

.facilitiyAboutText {
  font-size: 40px;
  font-family: "Alinasi";
}

.facilitieImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.FirstDownToUPAnimation {
  animation: FirstDownToUPAnimation 1.5s ease-in-out;
}

@keyframes FirstDownToUPAnimation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.FirstUpToDownAnimation {
  animation: FirstUpToDownAnimation 2.5s ease-in-out;
}

@keyframes FirstUpToDownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* amasha css */
.adminBackground {
  display: flex;
  background-color: gray;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.AdminLoginCard {
  background-color: black;
  border-radius: 50px;
  border: 2px solid white;
  box-shadow: 10px 10px 3px rgb(39, 37, 37);
}

.AdminTitle {
  color: rgb(251, 251, 252);
}

.AdminText {
  color: rgb(209, 206, 207);
}

.FlexTopRedBar {
  color: white;
  background-color: red;
}
.FlexTopRedBarTopic {
  color: white;
  font-weight: bold;
  font-family: "Alinasi";
}
.FlexLOGO {
  width: 120%;
  height: auto;
  transition: 0.5s ease-in-out;
}

.FlexLOGO.active {
  width: 70%;
  height: auto;
}

.FlexLOGO:hover {
  filter: sepia(5);
}

.FlexHeadrTab {
  font-style: normal;
  transition: 0.1s ease-in-out;
  color: white;
}
.FlexHeadrTab:hover {
  font-style: italic;
  color: red;
  text-decoration: line-through;
  text-decoration: underline;
  scale: 1.2;
}

.FlexHomeImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.HomeImageTextButtonCover {
  position: absolute;
  bottom: 25%;
  font-weight: bold;
  color: white;
}
.FlexCatouselText {
  font-size: xxx-large;
  font-weight: bold;
  color: white;
}
.ShopNowBtn {
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: x-large;
  transition: 0.5s ease-in-out;
}
.ShopNowBtn:hover {
  background-color: white;
  color: black;
  transition: 0.5s ease-in-out;
}

.HomeProductViewCover {
  width: 90%;
  display: flex;
  justify-content: center;
}

.CatelogProductViewCover {
  width: 90%;
  display: flex;
  background-color: white;
  justify-content: center;
}

.FlexProductCard {
  width: 100%;
  height: 500px;
  border: 2px white solid;
  transition: 0.3s ease-in-out;
}

/* Media Query */
@media screen and (min-width: 480px) {
}

.FlexProductCard:hover {
  transform: translateY(-10px);
}

.FlexProductCard:hover .ViewProductButtonText {
  transition: 0.5s ease-out;
}

.FlexProductCard:hover .FlexProductImage2 {
  z-index: 2;
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
  /* transition: 1s ease-in-out; */
}

.ProductImageCover {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.ProductFirstImageCover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FlexProductImage1 {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 30px;
  z-index: 2;
}

.ProductSecondImageCover {
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.FlexProductImage2 {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 30px;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 480px) {
  .FlexProductImage1 {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-top: 30px;
    z-index: 2;
  }

  .FlexProductImage2 {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-top: 30px;
    z-index: 1;
  }
  .FlexProductCard {
    height: 350px;
  }
}

.ViewProductButton {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ViewProductButton2 {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
  background-color: black;
  transition: 0.5s ease-in-out;
}
.ViewProductButton2 :hover {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
  background-color: white;
  color: black;
}

.ViewProductButton:hover {
  transition: 0.5s ease;
  /* background-color: white; */
}

.ViewProductButton:hover .ViewProductButto2 {
  transition: 1s ease;
  transform: translateY(0%);
}

.ViewProductButto2 {
  transition: 1s ease-in-out;
  width: 100%;
  height: 50px;
  background-color: red;
  border: 1px solid white;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ViewProductButtonText {
  color: white;
  font-weight: bold;
  z-index: 2;
}

.cartProductImage {
  width: 100%;
  height: auto;
}

.CheckoutCover {
  position: absolute;
  bottom: 0;
  left: 0;
}
.cartCheckoutBtn {
  background-color: white;
  color: black;
  font-size: large;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ContactSendBtn {
  background-color: white;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px;
  margin-top: 50px;
  transition: 0.2s ease-in-out;
}
.ContactSendBtn:hover {
  background-color: red;
  color: white;
  transition: 0.2s ease-in-out;
}

.SingleProductViewImage {
  width: 100%;
  height: auto;
  border-radius: 50px;
}
.SmallSingleProductViewImage {
  width: 100%;
  height: auto;
  border-radius: 25px;
}
.SingleProductViewBtn {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.5s ease-in-out;
}

.SingleProductViewBtn:hover {
  background-color: white;
  color: black;
  transition: 0.5s ease-in-out;
  font-size: large;
}

.QTYUdt {
  color: white;
  font-weight: bold;
}

.QTYUdt:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.PHistory {
  color: gray;
  font-weight: lighter;
  font-size: xx-small;
}
.PHistory:hover {
  color: red;
  font-weight: bold;
  font-size: xx-small;
  cursor: pointer;
}
